<div class="container">
  <div class="row">
    <mat-card>
      <div class="column">
        <mat-card-title>Login <i class="fa-solid fa-arrow-right-to-bracket"></i></mat-card-title>
        <div class="row">
          <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label for="email">Email</mat-label>
                    <input matInput formControlName="email" />
                    <mat-error *ngIf="(!loginForm.get('email').valid || loginForm.get('email').errors?.whitespace) && !loginForm.get('email').errors?.required">
                      Please enter a valid email!
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('email').errors?.required">
                      Email address is required!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label for="password">Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" #password >
                    <mat-icon matSuffix (click)="togglePasswordVisibility(password)" >
                      {{hidePassword?'visibility_off':'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="loginForm.get('password').errors?.required">
                      Password is required!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" >Login</button>
            </form>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>
</div>

