<div class="container" xmlns="http://www.w3.org/1999/html">
  <mat-card>
    <mat-card-title>Register a New Business Trip <i class="fa-solid fa-briefcase fa-1x"></i></mat-card-title>
    <mat-card-content>
      <form [formGroup]="registerTripForm" (ngSubmit)="onSubmit()">
        <div class="row-cols-2 d-flex justify-content-around">
          <mat-form-field>
            <mat-label for="area">Area Type</mat-label>
            <mat-select formControlName="area" name="area">
              <mat-option *ngFor="let option of areaTypes" [value]="option">
                {{areaMapping[option]}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="pmName">PM Name</mat-label>
            <input matInput formControlName="pmName" />
            <mat-error *ngIf="(!registerTripForm.get('pmName').valid || registerTripForm.get('pmName').errors?.whitespace) && !registerTripForm.get('pmName').errors?.required && !registerTripForm.get('pmName').errors?.maxlength">
              Please enter a valid PM Name!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('pmName').errors?.required">
              PM Name is required!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('pmName').errors?.maxlength">
              The maximum length of this field is 50 characters!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row-cols-2 d-flex justify-content-around">
          <mat-form-field>
            <mat-label for="client">Client</mat-label>
            <input matInput formControlName="client" />
            <mat-error *ngIf="registerTripForm.get('client').errors?.maxlength">
              The maximum length of this field is 50 characters!
            </mat-error>
            <mat-error *ngIf="(!registerTripForm.get('client').valid || registerTripForm.get('client').errors?.whitespace) && !registerTripForm.get('client').errors?.required && !registerTripForm.get('client').errors?.maxlength">
              Please enter a valid Client Name!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('client').errors?.required">
              Client Name is required!
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="clientLocation">Client Location</mat-label>
            <input matInput formControlName="clientLocation" />
            <mat-error *ngIf="(!registerTripForm.get('clientLocation').valid || registerTripForm.get('clientLocation').errors?.whitespace) && !registerTripForm.get('clientLocation').errors?.required && !registerTripForm.get('clientLocation').errors?.maxlength">
              Please enter a valid Client Location!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('clientLocation').errors?.required">
              Client Location is required!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('clientLocation').errors?.maxlength">
              The maximum length of this field is 50 characters!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row-cols-2 d-flex justify-content-around">
          <mat-form-field>
            <mat-label for="projectName">Project Name</mat-label>
            <input matInput formControlName="projectName" />
            <mat-error *ngIf="(!registerTripForm.get('projectName').valid || registerTripForm.get('projectName').errors?.whitespace) && !registerTripForm.get('projectName').errors?.required && !registerTripForm.get('projectName').errors?.maxlength">
              Please enter a valid Project Name!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('projectName').errors?.required">
              Project Name is required!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('projectName').errors?.maxlength">
              The maximum length of this field is 50 characters!
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="projectNumber">Project Number</mat-label>
            <input matInput formControlName="projectNumber" />
            <mat-error *ngIf="(!registerTripForm.get('projectNumber').valid || registerTripForm.get('projectNumber').errors?.whitespace) && !registerTripForm.get('projectNumber').errors?.required && !registerTripForm.get('projectNumber').hasError('maxlength') && !registerTripForm.get('projectNumber').errors?.minlength">
              Please enter a valid Project Number!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('projectNumber').errors?.required">
              Project Number is required!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('projectNumber').errors?.maxlength || registerTripForm.get('projectNumber').errors?.minlength">
              The length of this field must be between 4 - 7 digits!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row-cols-2 d-flex justify-content-around">
          <mat-form-field>
            <mat-label for="taskName">Task Name</mat-label>
            <input matInput formControlName="taskName" />
            <mat-error *ngIf="(!registerTripForm.get('taskName').valid || registerTripForm.get('taskName').errors?.whitespace) && !registerTripForm.get('taskName').errors?.required && !registerTripForm.get('taskName').errors?.maxlength">
              Please enter a valid Task Name!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('taskName').errors?.required">
              Task Name is required!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('taskName').errors?.maxlength">
              The maximum length of this field is 50 characters!
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="taskNumber">Task Number</mat-label>
            <input matInput formControlName="taskNumber" />
            <mat-error *ngIf="(!registerTripForm.get('taskNumber').valid || registerTripForm.get('taskNumber').errors?.whitespace) && !registerTripForm.get('taskNumber').errors?.required && !(registerTripForm.get('taskNumber').errors?.maxlength || registerTripForm.get('taskNumber').errors?.minlength)">
              Please enter a valid Task Number!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('taskNumber').errors?.required">
              Task Number is required!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('taskNumber').errors?.maxlength || registerTripForm.get('taskNumber').errors?.minlength">
              The length of this field must be between 4-7 digits!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row-cols-2 d-flex justify-content-around">
          <mat-form-field>
            <mat-label for="leavingFrom">Departure Location</mat-label>
            <input matInput formControlName="leavingFrom" />
            <mat-error *ngIf="(!registerTripForm.get('leavingFrom').valid || registerTripForm.get('leavingFrom').errors?.whitespace) && !registerTripForm.get('leavingFrom').errors?.required && !registerTripForm.get('leavingFrom').errors?.maxlength">
              Please enter a valid departure location!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('leavingFrom').errors?.required">
              Departure location is required!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('leavingFrom').errors?.maxlength">
              The maximum length of this field is 50 characters!
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="meanOfTransport">Means of transport</mat-label>
            <input matInput formControlName="meanOfTransport" />
            <mat-error *ngIf="(!registerTripForm.get('meanOfTransport').valid || registerTripForm.get('meanOfTransport').errors?.whitespace) && !registerTripForm.get('meanOfTransport').errors?.required && !registerTripForm.get('meanOfTransport').errors?.maxlength">
              Please enter a valid Means of Transport!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('meanOfTransport').errors?.required">
              Means of Transport is required!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('meanOfTransport').errors?.maxlength">
              The maximum length of this field is 50 characters!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row-cols-2 d-flex justify-content-around">
          <mat-form-field>
            <mat-label>Start date</mat-label>
            <input matInput readonly formControlName="startDate" [matDatepicker]="startDatePicker" [(ngModel)]="clearStartDate" [errorStateMatcher]="confirmValidDateMatcherTrip">
            <button *ngIf="clearStartDate" matSuffix mat-icon-button (click)="onClearStartDate($event)">
              <mat-icon>close</mat-icon>
            </button>
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error *ngIf="(registerTripForm.hasError('dateInvalid'))">
              Start date cannot be equal or greater than end date!
            </mat-error>
            <mat-error *ngIf="(registerTripForm.hasError('missingStartDate') || registerTripForm.get('startDate').errors?.required)">
              Start Date is required!
            </mat-error>
            <mat-error *ngIf="(registerTripForm.hasError('pastDate'))">
              Start date cannot be in the past or today!
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>End date</mat-label>
            <input matInput readonly formControlName="endDate" [matDatepicker]="endDatePicker" [(ngModel)]="clearEndDate" [errorStateMatcher]="missingDateMatcherTrip">
            <button *ngIf="clearEndDate" matSuffix mat-icon-button (click)="onClearEndDate($event)">
              <mat-icon>close</mat-icon>
            </button>
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
            <mat-error *ngIf="(registerTripForm.hasError('missingEndDate') || registerTripForm.get('endDate').errors?.required)">
              End date is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row-cols-2 d-flex justify-content-around">
          <mat-form-field>
            <mat-label for="accommodation">Accommodation</mat-label>
            <input matInput formControlName="accommodation" />
            <mat-error *ngIf="(!registerTripForm.get('accommodation').valid || registerTripForm.get('accommodation').errors?.whitespace) && !registerTripForm.get('accommodation').errors?.required && !registerTripForm.get('accommodation').errors?.maxlength">
              Please enter a valid Accommodation!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('accommodation').errors?.required">
              Accommodation is required!
            </mat-error>
            <mat-error *ngIf="registerTripForm.get('accommodation').errors?.maxlength">
              The maximum length of this field is 50 characters!
            </mat-error>
          </mat-form-field>
          <mat-form-field >
            <mat-label for="additionalInfo">Additional Information</mat-label>
            <textarea matInput cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      formControlName="additionalInfo">
        </textarea>
            <mat-error *ngIf="registerTripForm.get('additionalInfo').errors?.maxlength">
              The maximum length of this field is 250 characters!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row-cols-2 d-flex justify-content-around">
          <mat-checkbox color="primary" formControlName="phone" >Phone</mat-checkbox>
          <mat-checkbox color="primary" formControlName="card" >Card</mat-checkbox>
        </div>
        <div class="form-button">
        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="registerTripForm.invalid" >Create Trip</button>
          <button mat-raised-button color="warn" (click)="CancelRequest()">Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
