<div class="container">
  <div class="row">
    <mat-card>
      <div class="column">
        <mat-card-title>Filter Your Request <i class="fa-solid fa-filter"></i></mat-card-title>
        <div class="row">
          <mat-card-content>
            <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
              <div>
                <mat-form-field appearance="fill">
                  <mat-label for="location">Location</mat-label>
                  <input matInput type="text" formControlName="location" [(ngModel)]="clearLocation">
                  <button *ngIf="clearLocation" matSuffix mat-icon-button (click)="clearLocation=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label for="accommodation">Accommodation</mat-label>
                  <input matInput type="text" formControlName="accommodation" [(ngModel)]="clearAccommodation">
                  <button *ngIf="clearAccommodation" matSuffix mat-icon-button (click)="clearAccommodation=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Choose a start date</mat-label>
                  <input matInput formControlName="startDate" [matDatepicker]="startDatePicker">
                  <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Choose an end date</mat-label>
                  <input matInput formControlName="endDate" [matDatepicker]="endDatePicker">
                  <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label for="client">Client</mat-label>
                  <input matInput type="text" formControlName="client" [(ngModel)]="clearClient">
                  <button *ngIf="clearClient" matSuffix mat-icon-button (click)="clearClient=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="showStatusFormField()">
                  <mat-label>Request status</mat-label>
                  <mat-select formControlName="status" name="status">
                    <mat-option *ngFor="let option of statusTypes" [value]="option">
                      {{statusMapping[option]}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <button mat-raised-button color="primary" type="submit">Filter</button>
              <button mat-raised-button color="primary" type="reset">Reset filters</button>
            </form>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="row">
    <table mat-table [dataSource]="" matSort (matSortChange)="announceSortChange($event)"
           class="mat-elevation-z8">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by index">
          No.
        </th>
        <td mat-cell *matCellDef="let element"> {{element.index}} </td>
      </ng-container>
      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by clientName">
          Client Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
      </ng-container>
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by location">
          Location
        </th>
        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
      </ng-container>
      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by projectName">
          Project Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by startDate">
          Start Date
        </th>
        <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by endDate">
          End Date
        </th>
        <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
      </ng-container>
      <ng-container matColumnDef="accommodation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by accommodation">
          Accommodation
        </th>
        <td mat-cell *matCellDef="let element"> {{element.accommodation}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
          Status
        </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          Action
        </th>
        <td mat-cell >  </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
