/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Arial, "Helvetica Neue", sans-serif; }

.snackBar {
  background: #14DF96;
  color: black;
}

.mat-simple-snackbar span {
  margin: auto;
  text-align: center;
}


